:root {
  --lines: #111;
  --blue: #4b20d6;
  --hover-blue: #562ed5;
  --2em: 2em;
  --grey: #202020;
  --3em: 3em;
  --_oswald---font-family: Oswald, sans-serif;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.body {
  background-color: #000;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
}

.grid {
  z-index: -1;
  grid-template-rows: auto;
  grid-template-columns: .25fr 1fr 1fr 1fr 1fr .25fr;
  grid-auto-columns: 1fr;
  height: 100vh;
  display: grid;
  position: fixed;
  inset: 0%;
}

.v-line {
  border-left: 1px solid var(--lines);
}

.nav-bar {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  background-color: #ddd0;
  grid-template-rows: auto;
  grid-template-columns: .25fr 1fr 1fr 1fr 1fr .25fr;
  grid-auto-columns: 1fr;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
}

.nav-wrapper {
  background-color: #ffffffe6;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

.links-wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-menu-link {
  color: #000;
  text-transform: uppercase;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 5px 15px;
  font-size: 1em;
  font-weight: 300;
  line-height: 110%;
  text-decoration: none;
  transition: all .2s;
}

.nav-menu-link:hover {
  background-color: var(--blue);
  color: #fff;
}

.button {
  background-color: var(--lines);
  color: #fff;
  border-radius: 10px;
  padding: 15px 20px;
  font-size: 1em;
  line-height: 110%;
  text-decoration: none;
}

.button:hover {
  background-color: var(--blue);
}

.button.rent {
  background-color: var(--blue);
  color: #fff;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 60px;
  font-weight: 700;
  display: flex;
}

.button.rent:hover {
  background-color: var(--hover-blue);
}

.text-block-2 {
  color: #fff;
  text-transform: uppercase;
}

.image {
  filter: invert();
}

.phone-link {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  flex-flow: column;
  padding-right: 0;
  font-size: 1.2em;
  text-decoration: none;
  display: flex;
}

.under-line {
  background-color: #fff;
  width: 100%;
  height: 1px;
}

.nav-top {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  place-items: center stretch;
  display: none;
}

.nav-bar-wrapper {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.hero-section {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-template-rows: auto;
  grid-template-columns: .25fr 1fr 1fr 1fr 1fr .25fr;
  grid-auto-columns: 1fr;
  margin-top: 20px;
  display: grid;
}

.hero-content {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.heading {
  color: #fff;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-top: auto;
  margin-bottom: auto;
  font-family: Oswald Variablefont Wght, Impact, sans-serif;
  font-size: 7vw;
  font-weight: 700;
  line-height: 100%;
}

.video-container {
  opacity: 1;
  border: 1px solid #fff;
  border-radius: 10px 10px 0;
  width: 100%;
  height: 60vh;
}

.video-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.page-wrapper {
  grid-template-rows: auto auto;
  grid-template-columns: .25fr 1fr 1fr 1fr 1fr .25fr;
  grid-auto-columns: 1fr;
  padding-top: 150px;
  padding-bottom: 0;
  display: grid;
}

.heading-hero-wrapper {
  background-color: #111;
  border: 1px solid #fff;
  border-top-style: none;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 100%;
  padding: 0 20px 10px;
}

.div-block-2 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: #111;
  border: 1px solid #fff;
  border-bottom-style: none;
  border-radius: 0 10px 0 0;
  justify-content: center;
  align-items: flex-end;
  width: 17vw;
  height: 5vw;
  padding-bottom: 10px;
  display: flex;
  position: absolute;
  inset: auto auto 0% 0%;
}

.text-block-3 {
  color: #fff;
  line-height: 100%;
}

.text-span {
  color: #777;
  font-family: Oswald Variablefont Wght, Impact, sans-serif;
  font-size: 4vw;
  font-weight: 700;
  line-height: 100%;
}

.text-block-4 {
  color: #777;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: Oswald Variablefont Wght, Impact, sans-serif;
  font-size: 1.6vw;
  font-weight: 700;
  line-height: 110%;
}

.services-wrapper {
  grid-column-gap: 5em;
  grid-row-gap: 5em;
  flex-flow: column;
  display: flex;
}

.section-name {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  place-items: start stretch;
  padding-left: 1em;
  padding-right: 1em;
  display: grid;
}

.rec {
  background-color: #fff;
  width: 5px;
  height: 5px;
  transform: skew(0deg);
}

.heading-section {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  justify-content: flex-start;
  align-items: flex-end;
  display: flex;
}

.h2 {
  color: #fff;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Oswald Variablefont Wght, Impact, sans-serif;
  font-size: 13em;
  font-weight: 700;
  line-height: 100%;
}

.h2.abou-t {
  font-size: 9vw;
}

.big-paragraph {
  color: #fff;
  margin-bottom: auto;
  font-size: 3.5em;
  font-weight: 300;
  line-height: 140%;
}

.services-items {
  grid-row-gap: 3em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  place-items: stretch center;
  display: grid;
}

.item {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  background-color: var(--lines);
  border-radius: 10px;
  flex-flow: column;
  justify-content: space-between;
  align-items: stretch;
  width: 90%;
  margin-left: 1em;
  margin-right: 1em;
  padding: 1.2em;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;
}

.h3 {
  color: #fff;
  font-family: Oswald Variablefont Wght, Impact, sans-serif;
  font-size: var(--2em);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 100%;
}

.item-top {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr minmax(40px, 40px);
  grid-auto-columns: 1fr;
  justify-content: space-between;
  place-items: start stretch;
  display: grid;
}

.arrow {
  justify-content: flex-start;
  align-items: flex-start;
  width: 40px;
  height: 40px;
  display: flex;
  transform: rotate(90deg);
}

.img {
  background-color: var(--blue);
  width: 20px;
}

.img.big {
  background-color: #4b20d600;
  width: 50px;
  transform: rotate(0);
}

.paragraph {
  color: #fff;
  margin-bottom: 0;
  font-size: 1em;
  line-height: 150%;
}

.paragraph.brand {
  display: none;
}

.background-video {
  z-index: 2;
  border-radius: 10px;
  width: 100%;
  height: 20vh;
}

.image-2, .image-3, .image-4, .image-5 {
  width: 70%;
}

.div-block-3, .div-block-4, .div-block-5, .div-block-6 {
  justify-content: center;
  align-items: center;
  display: flex;
}

.div-block-7 {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

.div-block-8 {
  background-color: var(--lines);
  width: 100%;
  height: 1px;
}

.wrapper {
  grid-column-gap: 200px;
  grid-row-gap: 200px;
  flex-flow: column;
  display: flex;
}

.heading-2 {
  color: #fff;
  text-transform: uppercase;
  margin-top: auto;
  margin-bottom: auto;
  font-family: Oswald Variablefont Wght, Impact, sans-serif;
  font-size: 21vw;
  line-height: 100%;
}

.heading-projects {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

.projects-wrapper {
  grid-column-gap: 2em;
  grid-row-gap: 5em;
  flex-flow: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.collection-list-wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
}

.collection-list {
  grid-column-gap: 2em;
  grid-row-gap: 0em;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-left: 1em;
  padding-right: 1em;
  display: grid;
}

.project-item {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  border-style: none none solid;
  border-width: 1px;
  border-color: var(--grey) var(--grey) var(--lines);
  color: #fff;
  background-color: #000;
  border-radius: 10px;
  flex-flow: column;
  padding: 2em;
  text-decoration: none;
  display: flex;
}

.image-6 {
  border-radius: 10px;
  width: 100%;
}

.heading-4 {
  color: #fff;
  font-variation-settings: "wght" 400;
  text-transform: uppercase;
  font-family: Oswald Variablefont Wght, Impact, sans-serif;
  font-size: 5em;
  line-height: 110%;
}

.div-block-10 {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.link-block-2 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  color: #fff;
  text-transform: uppercase;
  background-color: #111;
  border-radius: 10px;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  display: flex;
}

.img-2 {
  width: 20px;
}

.div-block-11 {
  background-color: #000;
  border-bottom-right-radius: 10px;
  padding: 12px;
  position: absolute;
}

.link-block-3 {
  background-color: var(--blue);
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  margin-right: .1em;
  padding: 1em;
  font-family: Oswald, sans-serif;
  font-size: 2em;
  text-decoration: none;
  display: flex;
}

.text-block-5 {
  font-family: Oswald Variablefont Wght, Impact, sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 100%;
}

.text-move-wrapper-2 {
  z-index: -1;
  border: 1px solid #000;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;
}

.move-text-2 {
  z-index: 1;
  color: var(--lines);
  text-align: center;
  letter-spacing: 0;
  text-transform: uppercase;
  white-space: nowrap;
  font-family: Oswald Variablefont Wght, Impact, sans-serif;
  font-size: 5vw;
  font-weight: 700;
  line-height: 100%;
  position: relative;
}

.how-we-work {
  grid-column-gap: 10em;
  grid-row-gap: 10em;
  flex-flow: column;
  display: flex;
}

.steps-wrapper {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  border-radius: 10px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  place-items: start;
  margin-left: 1em;
  margin-right: 1em;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 1em;
  display: grid;
}

.div-block-12 {
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  border: 1px dashed var(--lines);
  background-color: #000;
  border-radius: 10px;
  flex-flow: column;
  padding: 1em;
  display: flex;
}

.heading-5 {
  color: #fff;
  text-transform: uppercase;
  font-family: Oswald Variablefont Wght, Impact, sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 100%;
}

.text-block-6 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
}

.div-block-13 {
  border: 1px solid var(--grey);
  background-color: #000;
  border-radius: 10px;
  padding: .5em 2em;
}

.div-block-14 {
  padding: 1em 1.5em;
}

.paragraph-2 {
  color: #fff;
  margin-bottom: auto;
}

.div-block-15 {
  background-color: var(--blue);
  border-radius: 10px;
  padding-left: 1em;
  padding-right: 1em;
}

.step-wrapper._2em {
  padding-top: 10em;
}

.step-wrapper._5em {
  padding-top: 15em;
}

.step-wrapper._7em {
  padding-top: 20em;
}

.step-wrapper._9em {
  padding-top: 25em;
}

.step-wrapper._12em {
  padding-top: 30em;
}

.brands {
  grid-column-gap: 5em;
  grid-row-gap: 5em;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  flex-flow: column;
  display: flex;
}

.brands-wrapper {
  grid-row-gap: 3em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  position: relative;
}

.brand {
  grid-column-gap: 2.5em;
  grid-row-gap: 2.5em;
  border-radius: 10px;
  flex-flow: column;
  margin-left: 1em;
  margin-right: 1em;
  padding: 1em;
  display: flex;
}

.logo-wrapper {
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.heading-6 {
  color: #fff;
  text-transform: uppercase;
  margin-top: auto;
  margin-bottom: auto;
  font-family: Oswald, sans-serif;
  font-size: 2em;
  line-height: 100%;
  display: none;
}

.button-call {
  color: #fff;
  border-radius: 10px;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  margin-left: 1em;
  margin-right: 1em;
  padding: .5em;
  font-size: 4em;
  line-height: 100%;
  text-decoration: none;
  display: flex;
  position: relative;
}

.div-block-16 {
  flex-flow: column;
  justify-content: flex-end;
  align-items: stretch;
  width: 90%;
  display: flex;
}

.text-block-7 {
  font-variation-settings: "wght" 400;
  text-align: center;
  text-transform: uppercase;
  font-family: Oswald Variablefont Wght, Impact, sans-serif;
  font-weight: 600;
}

.item-title {
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.text-block-9 {
  color: #fff;
  text-transform: uppercase;
  vertical-align: baseline;
  padding-bottom: .1em;
  font-family: Oswald Variablefont Wght, Impact, sans-serif;
  font-size: 23vw;
  font-weight: 700;
  line-height: 100%;
  display: flex;
}

.footer {
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  background-color: var(--blue);
  grid-template-rows: auto auto;
  grid-template-columns: .25fr 1fr 1fr 1fr 1fr .25fr;
  grid-auto-columns: 1fr;
  padding-top: 4em;
  padding-bottom: 4em;
  display: grid;
  position: static;
  overflow: hidden;
}

.div-block-22 {
  background-color: #000;
  justify-content: center;
  align-items: center;
  display: flex;
}

.link-block-5 {
  color: #fff;
  text-transform: uppercase;
  border: 2px solid #fff;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  font-family: Oswald, sans-serif;
  font-size: 4em;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
  display: flex;
  position: relative;
}

.link-block-5:hover {
  color: #000;
  background-color: #fff;
  font-family: Oswald Variablefont Wght, Impact, sans-serif;
}

.div-block-23 {
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0% 4% 0% auto;
}

.text-block-10 {
  letter-spacing: 2px;
  font-family: Oswald Variablefont Wght, Impact, sans-serif;
}

.footer-bottom {
  grid-column-gap: 5em;
  grid-row-gap: 5em;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}

.link {
  color: #fff;
  text-transform: uppercase;
  padding: 10px;
  font-size: 1.4em;
  text-decoration: none;
}

.link.outline {
  border: 1px solid #fff;
  border-radius: 10px;
}

.about {
  grid-column-gap: 0em;
  grid-row-gap: 0em;
  border-radius: 10px 10px 0 0;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: stretch;
  height: 70vh;
  display: grid;
  position: relative;
  overflow: hidden;
}

.benef {
  color: #fff;
  justify-content: flex-start;
  align-items: flex-end;
  font-family: Oswald Variablefont Wght, Impact, sans-serif;
  font-size: 8em;
  line-height: 100%;
  display: flex;
}

.benef.text {
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
}

.benefits-item {
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  border-bottom: 1px solid #000;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  display: flex;
}

.benefits-item.black {
  background-color: var(--grey);
  border-bottom-style: none;
  justify-content: flex-end;
  align-items: center;
}

.text-block-11 {
  color: #fff;
  text-align: center;
  width: 60%;
  font-family: Montserrat, sans-serif;
  font-size: 1.2em;
  line-height: 110%;
}

.background-video-2 {
  z-index: 2;
  border-bottom-right-radius: 20px;
  width: 100%;
}

.div-block-25 {
  z-index: 2;
  background-color: #000;
  border-bottom-right-radius: 20px;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  position: relative;
}

.bg {
  z-index: -1;
  background-color: var(--blue);
  border-radius: 10px 10px 0 0;
  position: absolute;
  inset: 0%;
}

.about-title {
  z-index: 3;
  padding-left: 1em;
  position: relative;
}

.about-wrapper {
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.text-span-2 {
  font-size: .2em;
  line-height: 140%;
  display: flex;
}

.div-block-29 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
  position: relative;
}

.div-block-30 {
  z-index: -2;
  background-color: var(--grey);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  inset: 0%;
}

.image-10 {
  width: 10%;
}

.div-block-31 {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  position: absolute;
  inset: auto 0% 0%;
}

.bg-item {
  z-index: -1;
  background-color: var(--blue);
  border-radius: 10px;
  position: absolute;
  inset: 0%;
}

.hover {
  z-index: -2;
  background-color: #4b20d6;
  border-radius: 100%;
  width: 150%;
  height: 150%;
  position: absolute;
  inset: auto 0% -160% -30%;
}

.div-block-32 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

@media screen and (min-width: 1920px) {
  .body {
    font-size: 14px;
  }

  .grid, .nav-bar, .hero-section, .page-wrapper {
    grid-template-columns: .5fr 1fr 1fr 1fr 1fr .5fr;
  }

  .services-wrapper {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
  }

  .h2.abou-t {
    font-size: 8vw;
  }

  .big-paragraph {
    direction: ltr;
  }

  .services-items {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .item {
    color: #fff;
    text-decoration: none;
  }

  .h3 {
    text-transform: uppercase;
    font-family: Oswald, sans-serif;
    font-weight: 400;
  }

  .arrow {
    justify-content: flex-start;
    align-items: flex-start;
    transform: rotate(90deg);
  }

  .paragraph.brand {
    display: none;
  }

  .heading-2 {
    font-size: 19vw;
  }

  .brands-wrapper {
    padding-top: 50px;
    position: relative;
  }

  .brand {
    background-color: #1110;
  }

  .text-block-9 {
    font-size: 20vw;
    font-weight: 700;
  }

  .footer {
    grid-template-columns: .5fr 1fr 1fr 1fr 1fr .5fr;
  }

  .benefits-item.black {
    background-color: var(--grey);
    border-bottom-style: none;
  }

  .div-block-29 {
    position: relative;
  }

  .div-block-30 {
    z-index: -2;
    background-color: var(--grey);
    position: absolute;
    inset: 0%;
  }
}

@media screen and (max-width: 479px) {
  .move-text-2 {
    font-size: 15vw;
  }
}

#w-node-_94a2a279-9289-f61b-56b1-30f1c0892d16-6249ee45, #w-node-_14cebc00-b904-883b-fab9-02dafaaca56f-6249ee45 {
  grid-area: 1 / 2 / 2 / 6;
}

#w-node-_296da21c-bd00-7bff-3190-4b8157538b96-6249ee45 {
  grid-area: 1 / 2 / 2 / 5;
}

#w-node-a8ca2e56-5a2d-8408-2f09-4abf20e635b1-6249ee45 {
  grid-area: 2 / 2 / 3 / 5;
}

#w-node-_2d3f47fd-cc74-4c5c-30d3-e9cff8b91244-6249ee45 {
  grid-area: 3 / 3 / 4 / 4;
}

#w-node-_32537989-81f1-c8aa-a448-8b724e07ba75-6249ee45 {
  grid-area: 3 / 4 / 4 / 5;
}

#w-node-_940319b1-4023-d115-4e60-203d37c6b005-6249ee45 {
  grid-area: 3 / 1 / 4 / 2;
}

#w-node-af9a1fe7-e5ff-5995-2337-06bb4d80b6a4-6249ee45 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_6aa277eb-f629-74e6-bcc4-ba7856bd8bfb-6249ee45 {
  grid-area: 1 / 4 / 2 / 5;
}

#w-node-fc5d9d80-118d-64fa-4586-4101b7a18475-6249ee45 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_389560f0-987a-38cd-9900-768651d6120b-6249ee45 {
  grid-area: 2 / 1 / 3 / 5;
}

#w-node-_07984f9d-710a-ba4a-8fee-ca9873fd5dab-6249ee45 {
  grid-area: 3 / 2 / 4 / 3;
}

#w-node-_994514a1-10a6-3057-8778-f339674c2975-6249ee45 {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-_71f41cc0-21ec-5615-104c-ea7135bd2372-6249ee45 {
  grid-area: 2 / 2 / 3 / 5;
}

#w-node-_9f937e46-2a31-7163-0042-9b18ed688e8e-6249ee45 {
  grid-area: 3 / 1 / 4 / 5;
}

#w-node-_52107b16-7499-b37d-c2da-27673157e7e6-6249ee45 {
  grid-area: 4 / 3 / 5 / 4;
}

#despre-festivalul.w-node-_5f616106-b7d1-290d-df28-01038d2a2a1d-6249ee45 {
  grid-area: 4 / 1 / 5 / 5;
}

#w-node-e1027074-a90e-7b54-ebff-e92ffd713c96-6249ee45 {
  grid-area: 1 / 2 / 2 / 5;
}

#w-node-_7604936c-cb59-d3d4-5a53-9b9edd2968f7-6249ee45 {
  grid-area: 2 / 1 / 3 / 5;
}

#w-node-_04e5883d-5aa1-9771-d1e0-46f1686c9dd7-6249ee45 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_9d995cf3-4241-9b0a-ab38-7833920d8876-6249ee45 {
  grid-area: 1 / 3 / 2 / 4;
}

#w-node-_86cbf849-1249-86d6-4c5a-df6fb0e98dd5-6249ee45 {
  grid-area: 1 / 4 / 2 / 5;
}

#w-node-a9d00bce-7cdc-61bf-5129-1e27fa716148-6249ee45 {
  grid-area: 2 / 2 / 3 / 3;
}

#w-node-_3c1ecbca-6b61-78c7-4da5-8120f9415278-6249ee45 {
  grid-area: 2 / 4 / 3 / 5;
}

#w-node-cf26a8f0-365a-beb7-e5f1-4595526d2718-6249ee45 {
  grid-area: 2 / 3 / 3 / 4;
}

#w-node-_4708e33e-864c-482d-2fd7-aa6eaca6b18c-6249ee45 {
  grid-area: 1 / 1 / 3 / 2;
  align-self: start;
}

#w-node-_03738f9b-8220-a3d0-9a6a-5c2907920356-6249ee45 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_42bf0fd9-f378-b247-d4c3-a5c7f89e92d4-6249ee45 {
  grid-area: 1 / 3 / 2 / 4;
}

#w-node-b0f57460-9962-c1f8-32d5-3fe0461d1031-6249ee45 {
  grid-area: 1 / 4 / 2 / 5;
}

#w-node-_3e1b1e04-d105-6db2-2654-d2b06557eb78-6249ee45 {
  grid-area: 2 / 1 / 3 / 2;
}

#w-node-_88e5468d-1a4a-b9b4-e59c-677ad320a7f6-6249ee45 {
  grid-area: 2 / 2 / 3 / 3;
}

#w-node-_811ac105-d439-90a6-d343-f9d39c7fd282-6249ee45 {
  grid-area: 2 / 3 / 3 / 4;
}

#w-node-cc23e3f1-59bc-293f-5658-db25776ef5ca-6249ee45 {
  grid-area: 1 / 2 / 2 / 5;
}

#w-node-cc23e3f1-59bc-293f-5658-db25776ef5ce-6249ee45 {
  grid-area: 2 / 2 / 3 / 5;
}

#w-node-_3bf0baea-2df3-9c91-b64f-1438da2931df-6249ee45 {
  grid-area: 2 / 1 / 3 / 5;
}

#w-node-_84399423-65af-94fd-b026-2ae82b522661-6249ee45 {
  grid-area: 2 / 1 / 3 / 7;
  justify-self: auto;
}

#w-node-_50f7edb3-6f77-6a2c-c8e8-ddf04b3d12e2-6249ee45 {
  grid-area: 1 / 2 / 2 / 6;
}

#w-node-_8bf187a4-23a1-d297-cd62-26ac1a7277b6-6249ee45 {
  grid-area: 3 / 2 / 4 / 6;
}

#w-node-_1331a92b-b0f0-1bef-3312-8ea2dee09592-dee09592 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_97c34807-0f46-f605-65e1-fcd06df8b29d-6df8b29d {
  grid-area: 1 / 2 / 2 / 6;
}

@media screen and (min-width: 1920px) {
  #w-node-_18f1793a-9d04-b426-e1ac-e8ce3f936642-6249ee45 {
    grid-area: 1 / 1 / 2 / 5;
  }

  #w-node-cc23e3f1-59bc-293f-5658-db25776ef5ce-6249ee45 {
    grid-column-end: 5;
  }
}


@font-face {
  font-family: 'Oswald Variablefont Wght';
  src: url('../fonts/Oswald-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 700;
  font-style: normal;
  font-display: swap;
}